/* Обнуляем стили */
*{
	padding:0;
	margin: 0;
	border:0;
}
*, *::before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{
	outline: none;
}
a:focus, a:active{
	outline: none;
}
nav, footer, header, aside{
	display:block;
}
html, body{
	height: 100%;
	width:100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea{
	font-family: inherit;
}
input::-ms-clear{
	display:none;
}
button{
	cursor: pointer;
}
button::-moz-focus-inner{
	padding:0;
	border:0;
}
a, a:visited{
	text-decoration: none;
}
a:hover{
text-decoration: none;
}
ul li{
	text-decoration: none;
}
img{
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6{
	font-size: inherit;
	font-weight:700;
	color:#1A1A1A;

}

body{
	font-family:'Nunito';
	font-size: 16px;
  font-weight: normal;
  color: #4A4A4A;
	;
	/* max-width: 1440px; */
	margin: 0 auto;
	display: flex;
	flex-direction:column;
	background-color:#ECECEC;
}
a{ 
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width:100%;
    height: auto;
}
header{
	margin-left: 128px;
	margin-top: 17px;
}
.header__container{
	max-width: 1152px;
	/* height:42px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.logo{
font-size: 24px;
line-height: 136%;
}
.menu__items{
	font-size: 16px;
	line-height: 130%;
	width: 461px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}